
.card-unit{

width:120px;

height:170px;

border-radius:var(--radius);

box-shadow:0 5px 15px #999;

transition:0.3s;

}


.card-unit:hover{

transform:translateY(-10px);

}


.game-table{

display:flex;

justify-content:center;

gap:20px;

}


